{% extends 'base.html.twig' %}

{% block title %}START-UP WEEK-END SAINT-LÔ
{% endblock %}
{% block body %}
    <meta http-equiv="refresh" content="60; URL=/">

    <div class="container-fullwidth">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xl-3 leftPanel becher">
                <img src="img/icon-becher.png">
            </div>
            <div class="col-lg-9 col-sm-9 col-xl-9 rightPanel yellowFont">
                <h1>START-UP WEEK-END SAINT-LÔ ✅</h1>
                {{lastNew.alerte}}
            </div>
        </div>
        <div class="row mainInfo">
            <div class="hour">
                <b>{{lastNew.date|date("H:i")}}</b>
            </div>
            <div class="content">
                {{lastNew.content|raw }}
            </div>
        </div>

        <div class="row footer yellowFont">
            <div class="shortTitle col-lg-3 col-sm-3 col-xl-3">
                {{lastNew.alerte}}<br>
            </div>
            <div class="date col-lg-9 col-sm-9 col-xl-9">
                {{date|date("H:i")}}
            </div>
        </div>

    </div>
{% endblock %}
