html {
    position: relative;
    min-height: 100%;
}
.formDatetime{
    display: flex;
}
.leftPanel{
    background: #820036;
}
.leftPanel img{
    width: 100%;
}
.rightPanel{
    background: #002F6C;
    text-align: center;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    font-size: -webkit-xxx-large;
}

.yellowFont{
    color: #FFE600;
}
.mainInfo{
    text-align: center;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}
.shortTitle{
    background: #820036;
    text-align: center;
    font-size: xx-large;
}
.date{
    background: #002F6C;
    text-align: center;
    font-size: xx-large;
}
.hour{
    font-size: -webkit-xxx-large;
}
.content{
    font-size: xx-large;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}
.footer{
    position: absolute;
    bottom: -1%;
    width: 100%;
    height: 60px;
}