{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% if app.user %}
    <h1>START-UP WEEK-END SAINT-LÔ ✅</h1>
    {{form_start(formProgram)}}
        <div class="row">
            <div class="col-lg-3">
                {{ form_row(formProgram.alerte, {'attr': {'placeholder': "Niveau d'alerte de l'information"}}) }}
            </div>
            <div class="col-lg-9" id="some-custom-id">
                {{ form_row(formProgram.shortTitle, {'attr': {'placeholder': "Titre de la programmation"}}) }}

            </div>
        </div>
        

        {{ form_row(formProgram.date) }}
        {{ form_row(formProgram.content|raw, {'attr': {'placeholder': "Description courte et rapide de l'évènement"}}) }}

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter le programme
            {% endif %}
        </button>
    {{ form_end(formProgram)}}


    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
        $('textarea.ckeditor').ckeditor();
    });
    </script>
    {% endif %}
{% endblock %}
