{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1>START-UP WEEK-END SAINT-LÔ ✅</h1>

    {% if editMode %}
        {% if app.user %}
            {{form_start(formProgram)}}
                <div class="row">
                    <div class="col-lg-3">
                        {{ form_row(formProgram.alerte, {'attr': {'placeholder': "Niveau d'alerte de l'information"}}) }}
                    </div>
                    <div class="col-lg-9" id="some-custom-id">
                        {{ form_row(formProgram.shortTitle, {'attr': {'placeholder': "Titre de la programmation"}}) }}
                    </div>
                </div>
                

                {{ form_row(formProgram.date) }}
                {{ form_row(formProgram.content|raw, {'attr': {'placeholder': "Description courte et rapide de l'évènement"}}) }}

                <button type="submit" class="btn btn-success">
                    {% if editMode %}
                        Enregistrer les modifications
                    {% else %}
                        Ajouter le programme
                    {% endif %}
                </button>
            {{ form_end(formProgram)}}
            <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
                $(function() {
                    $('textarea.ckeditor').ckeditor();
                });
            </script>
        {% endif %}
    {% else %}
        {% if app.user %}
            <table id="myTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom du programme</th>
                    <th>Contenu</th>
                    <th>Niveau d'alerte </th>
                    <th>Date</th>
                    <th><a href="{{ path('admin') }}"><button class="btn btn-success">Créer un évènement</button></a></th>
                </tr>
                </thead>
                {% for program in programs %}
                    <tr>
                        <td>{{ program.id }}</td>
                        <td>{{ program.shortTitle |truncate(20) }}</td>
                        <td>{{ program.content |truncate(20) }}</td>
                        <td>{{ program.alerte }}</td>
                        <td>{{ program.date|date("Y-m-d H:i:s")}}</td>
                        <td>
                            <form action="#" method="POST" name="formEdit">
                                <input type="hidden" name="program_id" value="{{program.id}}">
                                <a href="{{ path('program_edit', {'id' : program.id }) }}" class="btn btn-primary" name="editProgram">Edit</a>
                                <button type="submit" class="btn btn-danger" name="deleteProgram">Delete</button>
                            </form>       
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
        
