<nav>
    <li>
        <a href="{{ path('home') }}">Home</a>
    </li>
    {% if not app.user %}
        <li>
            <a href="{{ path('app_register') }}">Inscription</a>
        </li>
        <li>
            <a href="{{ path('app_login') }}">Connexion</a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('app_logout') }}">Deconnexion</a>
        </li>
        <li>
            <a href="{{ path('program') }}">Administration</a>
        </li>
    {% endif %}
</nav>